form {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 0;
}

.error-block {
  display: none;
  color: darkred;
  font-size: .8rem;

  &.has-error {
    display: block;
  }
}

input {
  &.ng-invalid.ng-touched {
    border-color: darkred;
  }
}
